# Lab 3: String

## Part 1: Using `help()` to check the usage of `print()`

#### Task 1.1: Please type the commond in the following cell.

#### What can you learn from the above result?

#### Task 1.2 : Use `print()` to print out variables `text1`, `text2`, `text3` in the **same line**.

#### Task 1.3: Try to modify the argument `sep=" "`, so that the print out becomes:

Text 1 content.!!!Text 2 content.!!!Text 3 content.

## Part 2: Multiple line strings

You can assign multiple lines of text to a variable using  `'''`. For example:

'''  xxx<br>
xxxxxx<br>
xxxxxxxxx '''  (3 single quotes / 3 double quotes)

#### Task 2.1: 

Please declare a string variable named `mulipleLineString` and assign the value of **"abc....xyz"**, **"ABC....XYZ"** and **"0123..789"** (1 value 1 line)

## Part 3: Special Characters


How do you print a new line (enter key), a tab or special character such as `"` , `'`, `\`?

In [5]:
print("\n") # print newline
print("~\n~") 

print("\t") # print a tab
print("a\ta")

print('\'') # or print("'") --> print '
print("\"") # or print('"') --> print "

print("\\") # print \
print("\\\\") # print \\

~
~

a	a
'
"
\
\\

#### Task 3: Try to use ***ONE*** print function to print the following content:


He's name is "David"<br>
He is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10 years old.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*↑ this is a tab space*

## Part 4: Repitition

You may use * to repeat the strings.

#### Task 4: Write a program which prints out "Hello World" repeatedly depending on the number of times that a user enters.

## Part 5.1: String Formmating
* The % operator is used to format a string inserting the value that comes after. 
* It relies on the string containing a format specifier that identifies where to insert the value. 
* The most common types of format specifiers are:

 * %s -> string
 * %d -> Integer
 * %f -> Float
 * %o -> Octal
 * %x -> Hexadecimal
 * %e -> exponential

You can add a number after the % operater to fix the space size of the content e.g.:

In [29]:
print("~%10s! %-2s! " % ("Hello", "World"))
# note that the whole word "World" is printed but not "Wo"

~     Hello! World!

For numbers, you can also set the number of decimal place e.g.

In [20]:
print("I have $%8.2f" % (4500.1))
# The length of the output " 4500.10" is 8 which includes a " " (space), the "." character and the 2 decimal places.

I have $ 4500.10

#### Task 5: Try to use 3 `print()` lines with String Formmating to print the following table:

In [26]:
# | Product             | Qty  |     Price |
# | ------------------- | ---- | --------- |
# | ProductName1        |    2 | $  234.50 |

## Part 5.2: More about formatting

From the line : `print("~%10s! %2s! " % ("Hello", "World"))`, you can find that the first part in `()` &nbsp; `"~%10s! %2s! "` is a string, meaning the width **10** and **2** in the string can be modify to make it more flexible. For example:

In [1]:
width1 = 10
width2 = 2
formatting = "~%"+str(width1)+"s! %"+str(width2)+"s! "
print(formatting)
print(formatting % ("Hello", "World"))

~%10s! %2s!
~     Hello! World!

## Part 6: String Methods

reference: <a>https://docs.python.org/3/library/stdtypes.html#str</a>

In [35]:
print(" 1)", "Hello World".count("l"))
print(" 2)", "Hello World".find("l"))
print(" 3)", "l" in "Hello World")
print(" 4)", "Hello World".find("k"))
print(" 5)", "k" in "Hello World")
print(" 6)", "Hello World ~".split(" "))
print(" 7)", "Hello World ~".capitalize())
print(" 8)", "qwertyuiop123456789".isalnum())
print(" 9)", "qwertyuiop123456789.".isalnum())
print("10)", "qwertyuiop123456789 ".isalnum())
print("11)", "Hello World ~".islower())
print("12)", "hello world ~".islower())
print("13)", "hello world ~".isspace())
print("14)", "     ".isspace())
print("15)", "Hello World ~".istitle())
print("16)", "Hello world ~".istitle())
print("17)", "Hello World ~".isupper())
print("18)", "hello world ~".upper().isupper())

 1) 3
 2) 2
 3) True
 4) -1
 5) False
 6) ['Hello', 'World', '~']
 7) Hello world ~
 8) True
 9) False
10) False
11) False
12) True
13) False
14) True
15) True
16) False
17) False
18) True

In [1]:
# continue
print("19)", "Hello World".rfind("l"))
print("   ", "0123456789+")
print("   ", "Hello World")
print("   ", "         ↑ ")
print("20)", "Hello World".replace(" ", "-"))
print("21)", "Hello World".swapcase())
print("22)", "12345".zfill(20))
print("23)", "-12345".zfill(20))
number = 123456
print("24) %s" % str(number).zfill(20))
print("25)", "12345".zfill(10).replace("0","-"))

19) 9
    0123456789+
    Hello World
             ↑
20) Hello-World
21) hELLO wORLD
22) 00000000000000012345
23) -0000000000000012345
24) 00000000000000123456
25) -----12345

### Task 6

Given `text = "H1e1l1l1o W2o2r2l2d"`, use ONE line (may include more than one string methods) to convert `"H1e1l1l1o W2o2r2l2d"` to `['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']`

In [32]:
text = "H1e1l1l1o W2o2r2l2d"